# Global overrides
nameOverride: ""
fullnameOverride: ""
namespace:
  name: ai-hub
commonLabels: {}
database:
  enabled: true
  name: my-db
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:17
  initdb:
    database: ai_hub_db
    owner: ai_hub_admin
  storage:
    size: 30Gi
  appSecret:
    name: my-db-app
    usernameKey: username
    passwordKey: password
    jdbcKey: jdbc-uri
    hostKey: host
    portKey: port
    dbnameKey: dbname
springApp:
  enabled: true
  name: main-server
  replicas: 2
  # AI-HUB-BE에서 springApp.image로 찾음. 따라서 키 값 수정시 AI-HUB-BE도 수정해야 함.
  image: ghcr.io/AI-HUB-KR/main-server:d2ec3ac9f3c583f6c2da8dc201b141cb6b6d348d
  containerPort: 8080
  springProfile: prod
  existingSecret: "spring-app-secret"
  imagePullSecrets: []
  resources: {}
  podAnnotations: {}
  service:
    name: main-svc
    type: ClusterIP
    port: 8080
    targetPort: 8080
nestApp:
  enabled: true
  name: ai-api-server
  replicas: 2
  # AI-HUB-BE에서 nestApp.image로 찾음. 따라서 키 값 수정시 AI-API-SERVER도 수정해야 함.
  image: ghcr.io/AI-HUB-KR/ai-api-server:8dd710b6f06ebc4896d656b4c6fafca29e71485d
  containerPort: 3000
  existingSecret: "nest-app-secret"
  imagePullSecrets: []
  resources: {}
  podAnnotations: {}
  service:
    name: ai-api-svc
    type: ClusterIP
    port: 3000
    targetPort: 3000
