# Global overrides
nameOverride: ""
fullnameOverride: ""
namespace:
  name: ai-hub
  create: true
commonLabels: {}
database:
  enabled: true
  name: my-db
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:17
  initdb:
    database: ai_hub_db
    owner: ai_hub_admin
  storage:
    size: 30Gi
  appSecret:
    name: my-db-app
    usernameKey: username
    passwordKey: password
    jdbcKey: jdbc-uri
    hostKey: host
    portKey: port
    dbnameKey: dbname
springApp:
  enabled: true
  name: main-server
  replicas: 2
  # AI-HUB-BE에서 springApp.image로 찾음. 따라서 키 값 수정시 AI-HUB-BE도 수정해야 함.
  image: ghcr.io/ai-hub-kr/main-server:70ee870d3e3e1266ce0cd70f25922065e048fad9
  containerPort: 8080
  springProfile: prod
  existingSecret: "spring-app-secret"
  imagePullSecrets:
    - my-registry-secret
  resources: {}
  podAnnotations: {}
  service:
    name: main-svc
    type: ClusterIP
    port: 8080
    targetPort: 8080
nestApp:
  enabled: true
  name: ai-api-server
  replicas: 2
  # AI-HUB-BE에서 nestApp.image로 찾음. 따라서 키 값 수정시 AI-API-SERVER도 수정해야 함.
  image: ghcr.io/ai-hub-kr/ai-api-server:62644b6157ad00b7f5957dfd4b76adb6fbf8a418
  containerPort: 3000
  existingSecret: "nest-app-secret"
  imagePullSecrets:
    - my-registry-secret
  resources: {}
  podAnnotations: {}
  service:
    name: ai-api-svc
    type: ClusterIP
    port: 3000
    targetPort: 3000
