# Global overrides
nameOverride: ""
fullnameOverride: ""
namespace:
  name: ai-hub
  create: true
commonLabels: {}
database:
  enabled: true
  name: my-db
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:17
  initdb:
    database: ai_hub_db
    owner: ai_hub_admin
  storage:
    size: 30Gi
  appSecret:
    name: my-db-app
    usernameKey: username
    passwordKey: password
    jdbcKey: jdbc-uri
    hostKey: host
    portKey: port
    dbnameKey: dbname
  backup:
    enabled: true
    retentionPolicy: "7d"
    r2:
      existingSecretName: "r2-secret"
      bucketName: "aihub-db-backup"
      endpoint: "https://94f2f97d1ba42a3f48abbb18a47d5435.r2.cloudflarestorage.com"
springApp:
  enabled: true
  name: main-server
  replicas: 2
  # AI-HUB-BE에서 springApp.image로 찾음. 따라서 키 값 수정시 AI-HUB-BE도 수정해야 함.
  image: ghcr.io/ai-hub-kr/main-server:1959b6369671fa5f7ac79564f37551586f85f54c
  containerPort: 8080
  springProfile: prod
  existingSecret: "spring-app-secret"
  imagePullSecrets:
    - my-registry-secret
  resources: {}
  podAnnotations: {}
  service:
    name: main-svc
    type: ClusterIP
    port: 8080
    targetPort: 8080
nestApp:
  enabled: true
  name: ai-api-server
  replicas: 2
  # AI-HUB-BE에서 nestApp.image로 찾음. 따라서 키 값 수정시 AI-API-SERVER도 수정해야 함.
  image: ghcr.io/ai-hub-kr/ai-api-server:394ab46cf82f9b3e6adc1896268e6492f625abd1
  containerPort: 3000
  existingSecret: "nest-app-secret"
  imagePullSecrets:
    - my-registry-secret
  resources: {}
  podAnnotations: {}
  service:
    name: ai-api-svc
    type: ClusterIP
    port: 3000
    targetPort: 3000
